body {
    margin-top: 20px;
    background: #FAFAFA;
}

.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg, #FFB64D, #ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg, #FF5370, #ff869a);
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    height: 140px;
}

.card:hover {
    transform: scale(1.05);
}

.card .card-block {
    padding: 25px;
    text-align: center;
}

.card h3 {
    font-size: 1rem;
    /* Adjusted font size */
}

.card p {
    font-size: 0.875rem;
    /* Adjusted font size */
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}